
body {
    font-family: 'Courier New', Courier, monospace; 
    width: 600px;
    margin: 0px auto;
}

img.mars {
    width: 75%;
}

#data-display {
    background: lightblue;
    height: 200px;
    margin: 10px 0;
    padding: 4px 20px;
    width: 600px;
}
